/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 6 nov. 2023, 23:37:07
    Author     : Adriana
*/

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

h2 {
    color: #f44336; /* Rojo */
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f44336; /* Rojo */
    color: white;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

img {
    max-width: 100%;
    height: auto;
}

a.button {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #f44336; /* Rojo */
    color: white;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 20px;
}

.container {
    width: 80%;
    margin: 50px auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Add box shadow */
}






